<ion-header>
  <ion-navbar>
    <ion-button >
      <ion-icon name="menu" color="light"></ion-icon>
    </ion-button>
      <ion-title><font style="color : white">BPJS</font></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-list>
    <ion-item>
      <ion-label><font class="text">Masukan Nomer : </font></ion-label>
      <ion-input type="tel" [(ngModel)]="number" maxlenght="13"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><font class="text">Pilihan Periode : </font></ion-label>
      <ion-select [(ngModel)]="periode" interface="popover">
      <ion-option *ngFor="let item of optionList" value="">

      </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-card>
</ion-content>
